name: Google Indexing API

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install oauth2client requests

      - name: Run Indexing Script
        env:
          GOOGLE_JSON: ${{ secrets.INDEXING_API_KEY }}
        run: |
          # Create the key inside the workflows folder so the script finds it
          echo "$GOOGLE_JSON" > .github/workflows/service_account.json

          echo "LS"
          ls -la
          echo "PWD"
          pwd
          
          # Run the script from its new location
          python .github/workflows/index.py
          
          # Clean up
          rm .github/workflows/service_account.json